@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Movie";
}

@*<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">*@

@model Mission6.Models.ApplicationResponse


<style>
    html, body {
        min-height: 100%;
    }

    nav{
        font-size: 20px;
    }

    body, div, form, input, select, textarea, label {
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        color: #666;
        line-height: 22px;
    }

    h1 {
        position: absolute;
        margin: 0;
        font-size: 40px;
        color: #fff;
        z-index: 2;
        line-height: 83px;
    }

    .testbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 20px;
    }

    form {
        width: 100%;
        padding: 20px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 8px #5791b3;
    }

    .banner {
        position: relative;
        height: 300px;
        background-image: url("../img/movieBG.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        .banner::after {
            content: "";
            background-color: rgba(0, 0, 0, 0.2);
            position: absolute;
            width: 100%;
            height: 100%;
        }

    input, select, textarea {
        margin-bottom: 10px;
        border: 1px solid #5791b3;
        border-radius: 3px;
    }

    input {
        width: calc(100% - 10px);
        padding: 5px;
    }

        input[type="date"] {
            padding: 4px 5px;
        }

    textarea {
        width: calc(100% - 12px);
        padding: 5px;
    }

    .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
        
    }

    .item input:hover, .item select:hover, .item textarea:hover {
        border: 1px solid transparent;
        box-shadow: 0 0 3px 0 #5791b3;
        color: #5791b3;
    }

    .item {
        position: relative;
        margin: 10px 0;
    }

        .item span {
            color: red;
        }

    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }

    .item i, input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        font-size: 20px;
        color: #5791b3;
    }

    .item i {
        right: 1%;
        top: 30px;
        z-index: 1;
    }

    [type="date"]::-webkit-calendar-picker-indicator {
        right: 1%;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }

    input[type=radio], input[type=checkbox] {
        display: none;
    }

    label.radio {
        position: relative;
        display: inline-block;
        margin: 5px 20px 15px 0;
        cursor: pointer;
    }

    .question span {
        margin-left: 30px;
    }

    .question-answer label {
        display: block;
    }

    label.radio:before {
        content: "";
        position: absolute;
        left: 0;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 2px solid #5791b3;
    }

    input[type=radio]:checked + label:before, label.radio:hover:before {
        border: 2px solid #5791b3;
    }

    label.radio:after {
        content: "";
        position: absolute;
        top: 6px;
        left: 5px;
        width: 8px;
        height: 4px;
        border: 3px solid #5791b3;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        opacity: 0;
    }

    input[type=radio]:checked + label:after {
        opacity: 1;
    }

    .btn-block {
        margin-top: 10px;
        text-align: center;
    }

    button {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #5791b3;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }

        button:hover {
            background: #043e7d;
        }

    media (min-width: 568px) {
        .name-item, .city-item

    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .name-item input, .name-item div {
        width: calc(50% - 20px);
    }

        .name-item div input {
            width: 97%;
        }

        .name-item div label {
            display: block;
            padding-bottom: 5px;
        }
    }
</style>

<div style="margin: auto; width: 50%;">
    <div class="testbox" style="">
        <form method="post">

            <div asp-validation-summary="All"></div>

            <div class="banner">
                <h1>Add Movie</h1>
            </div>
            <p>Enter the information below for the movie you would like to add</p>
            <div class="item">
                <p style="font-weight: bold" asp-for="CategoryID">Category<span>*</span></p>
                <select asp-for="CategoryID" required>
                    <option value="" disabled selected></option>
                    @foreach(Category m in ViewBag.Categories)
                    {
                        <option value="@m.CategoryID">@m.CategoryName</option>
                    }
                </select>
            </div>
            <div class="item">
                <label for="Title" asp-for="Title">Title<span>*</span></label>
                <input id="Title" type="text" asp-for="Title" required />
            </div>
            <div class="item">
                <label for="number" asp-for="Year">Year<span>*</span></label>
                <input type="number" asp-for="Year" min="1900" max="2099" step="1" required />
            </div>
            <div class="item">
                <label for="address" asp-for="Director">Director<span>*</span></label>
                <input id="Director" type="text" asp-for="Director" required />
            </div>
            <div class="item">
                <p style="font-weight: bold" asp-for="Rating">Rating<span>*</span></p>
                <select asp-for="Rating" required>
                    <option value="" disabled selected></option>
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                </select>
            </div>


            <div class="question">
                <label>Edited</label>
                <div class="question-answer">
                    <div>
                        <input id="Yes" type="radio" value="True" asp-for="Edited" />
                        <label for="Yes" class="radio"><span>Yes</span></label>
                    </div>
                    <div>
                        <input id="No" type="radio" value="False" asp-for="Edited" />
                        <label for="No" class="radio"><span>No</span></label>
                    </div>
                </div>
            </div>


            <div class="item">
                <label asp-for="LentTo">Lent To:</label>
                <input id="state" type="text" asp-for="LentTo" />
            </div>
            <div class="item">
                <label asp-for="Notes">Notes:</label>
                <input id="state" type="text" asp-for="Notes" maxlength="25"/>
            </div>
            <div class="btn-block">
                <button type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</div>