@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="wrapper">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class="parallax-background-image" src="~/img/template/bg3.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 hidden-xs">
                    <div class="parallax-image">
                        <img class="" src="~/img/JoelHiltonHeadshot.jpg" style="height: 250px; border-radius: 25px; border: 2px solid lightblue;" />
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="description">
                        <h2>WELCOME.</h2>
                        <br>
                        <h5>Have you ever wondered what movies Joel Hilton has in his film collection? Well, today is your luck day because you're about to find out!</h5>
                    </div>
                    @*<div class="buttons">
                        <button class="btn btn-fill btn-neutral">
                            <i class="fa fa-apple"></i> Movie Directory
                        </button>
                        <button class="btn btn-simple btn-neutral">
                            <i class="fa fa-android"></i>
                        </button>
                        <button class="btn btn-simple btn-neutral">
                            <i class="fa fa-windows"></i>
                        </button>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

    <!-- WEBSITE OVERVIEW-->
    <div class="section section-gray section-clients">
        <div class="container text-center">
            <h4 class="header-text">Website Overview</h4>
            <p>
                This website will give you a link to my weekly movie review podcasts and you will have the ability to add movies to my movie directory. I hope you enjoy looking around.
            </p>
            @*<div class="logos">
                <ul class="list-unstyled">
                    <li><img src="~/img/logos/adobe.png" /></li>
                    <li><img src="~/img/logos/zendesk.png" /></li>
                    <li><img src="~/img/logos/ebay.png" /></i>
                    <li><img src="~/img/logos/evernote.png" /></li>
                    <li><img src="~/img/logos/airbnb.png" /></li>
                    <li><img src="~/img/logos/zappos.png" /></li>
                </ul>
            </div>*@
        </div>
    </div>

</div>