@{
    ViewData["Title"] = "My Podcasts";
}

<!-- LINK TO PODCASTS-->

<div style="text-align: center; margin: 200px;">
    <h2>Here is a link to my podcasts: <a href="https://baconsale.com/" target="_blank">https://baconsale.com/</a></h2>
    <p style="font-weight: bold">Please take a listen!</p>
</div>